.data_item{
    border: 2px solid dodgerblue;
    padding: 5px;
    margin-top: 5%;
    min-height: 70px;
    margin-left: 5%;
    width: 100px;
    cursor: pointer;
}

.small_header{
    height: 30px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cell_area{
    display: flex;
    flex-wrap: wrap;
}

.date{
    font-size: 10px;
}

.note_table{
    display: flex;
    justify-content: center;
}