<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/notify.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="title">
        <h1>Note</h1>
    </div>
    <div class="header_panel">
        <button class="add_notify button" data-for="#add_notify_modal">Добавить</button>
        <form action="" method="get">
            <div class="form_group">
                <div class="form_field">
                    {{sort}}
                </div>
            </div>

            <input type="hidden" name="page" value="{{ page_obj.number }}">
            <button type="submit" class="button">Сортировка</button>
        </form>
    </div>
    <div class="note_table">
        <div class="notify_area cell_area">
            {% for note in object_list %}
            <div class="data_item" data-id="{{note.id}}">
                <div class="small_header">
                    <span class="date">{{ note.created_at|date:"d M Y" }}</span>
                    <span class="date">{{ note.created_at|date:"H:i:s" }}</span>
                </div>
                <div class="title">
                    {{ note.name }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

</div>

{% if not user.is_authenticated %}
<div class="modal auth_notify">
    <form action="{% url 'auth'%}" method="post">
        <input type="hidden" name='destination' value="{{request.path}}">
        {% csrf_token %}
        {{ auth_form.as_p }}
        <button type="submit" class="">Save</button>
    </form>
</div>
{% endif %}

{% if user.is_authenticated %}
<div id="add_notify_modal" class="modal_wrapper hide">
    <div class="modal create_notify">
        <div class="top_panel">
            <div class="small_icon close">

            </div>
        </div>
        <form action="{% url 'save_note'%}" method="post">
            {% csrf_token %}
            <div class="form_group">
                <label for="id_name">Название</label>
                <div class="form_field">
                    {{create_form.name}}
                </div>
            </div>
            <div class="form_group">
                <label for="id_body">Описание</label>
                <div class="form_field">
                    {{create_form.body}}
                </div>
            </div>
            <input type="hidden" name='destination' value="{{request.path}}">
            <input type="hidden" name='author' value="{{user.id}}">
            <button type="submit" class="button">Save</button>
        </form>
    </div>
</div>
{% endif %}

<div id="note_content" class="modal_wrapper hide">
    <div class="modal create_notify">
        <div class="top_panel">
            <div class="small_icon close">

            </div>
        </div>
        <div class="modal_content">

        </div>
    </div>
</div>

<script src="{% static 'libs/js/axios.js' %}"></script>
<script src="{% static '/js/cookie.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
</body>
</html>